body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: antiquewhite;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.grid-container {
  border: solid black;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.square-row {
  display: flex;
}

.square {
  /* background-color: red; */
  border: solid rgb(229, 229, 229) 0.9px;
  height: 31.25px;
  width: 31.25px;
  box-sizing: border-box;
  background-color: white;
  flex: 1;
}

.top {
  height: 10vh;
  font-size: xx-large;
  /* border: solid black; */
  /* display: flex;
  flex-direction: column; */
}

.label {
  font-size: x-large;
  margin-top: 10px;
}

#myInput {
  height: 20px;
  width: 40px;
  margin-top: 10px;
}

.bottom {
  height: 10vh;
}

.px {
  font-size: small;
}

.input-field {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
