body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.grid-container {
  border: solid black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.square-row {
  display: flex;
}

.square {
  /* background-color: red; */
  /* border: solid black thin; */
  height: 31.25px;
  width: 31.25px;
  box-sizing: border-box;
  background-color: none;
  flex: 1;
}

.top {
  height: 10vh;
  font-size: xx-large;
}

.bottom {
  height: 10vh;
}
